<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block head %}
        <title>Star Wars Explorer</title>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">Star Wars Explorer</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Collections <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="mx-auto pt-5" style="width: 90%;">
    {% block content %}
        <div class="row">
            <div class="col-xs-6">
                <p style="font-size: 40px">Collections</p>
            </div>
            <div class="col-xs-6 ml-5">
                <a href="{% url 'fetch_data' %}" role="button" class="btn btn-secondary btn-lg mb-2">Fetch</a>
            </div>
        </div>

        <ul class="list-group">
            {% for collection in collections %}
                <li class="list-group-item">
                    <a href="{% url 'collection_detail' collection_id=collection.id %}">{{ collection.date }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{% block actions %}

{% endblock %}
</body>
</html>