{% extends "./base.html" %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <p style="font-size: 30px">{{ collection_name }}</p>
        </div>

        {% block top-button %}
            <div class="col-xs-6 ml-5">
                <a href="{% url 'value_count' collection_id=collection_id %}" role="button"
                   class="btn btn-secondary btn-lg mb-2">
                    Value Count
                </a>
            </div>
        {% endblock %}

    </div>

    {% block above-table-placeholder %}
    {% endblock %}

    <table class="table table-striped character-list">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            {% for title in titles %}
                <th scope="col">{{ title }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in content %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-xs-6">
            {% block load-more-button %}
                <a href="{% url 'collection_detail' collection_id=collection_id %}?count={{ content|length|add:load_increment }}"
                   role="button"
                   class="btn btn-secondary btn-lg mb-2 {% if all_records_returned %} disabled {% endif %}">
                    Load more
                </a>
            {% endblock %}
        </div>
        <div class="col-xs-6 ml-3 mt-3">
            <p style="font-size: 12px">
                {{ content|length }} rows loaded.
            </p>
        </div>
    </div>
{% endblock %}

{% block actions %}
    <script>
        $(document).ready(function () {
            $("html, body").animate({
                scrollTop: $(
                    'html, body').get(0).scrollHeight
            }, 500);
        });
    </script>
{% endblock %}