{% extends "./collection_detail.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'swapi_collections/css/value_count.css' %}">
{% endblock %}

{% block top-button %}
    {#  Mute the top button  #}
{% endblock %}

{% block above-table-placeholder %}
    <div class="container mb-2" id="choices">
        {% for col in columns %}
            <button id="{{ col }}" data-toggle="button"
                    class="btn btn-secondary choice-btn {% if col in selected_columns %} active {% endif %}">
                {{ col }}
            </button>
        {% endfor %}
    </div>
{% endblock %}

{% block load-more-button %}
    <a href="{% url 'value_count' collection_id=collection_id %}?count={{ content|length|add:load_increment }}&selected_columns={{ selected_columns|join:"," }}"
       role="button" class="btn btn-secondary btn-lg mb-2 {% if all_records_returned %} disabled {% endif %}">
        Load more
    </a>
{% endblock %}

{% block actions %}
    {{ block.super }}
    <script>
        $(".choice-btn").click(function () {
            let selectedColumns = {{ selected_columns|safe }};
            let name = $(this).attr("id");
            if ($(this).hasClass("active")) {
                selectedColumns = selectedColumns.filter(function (item) {
                    return item !== name
                })
            } else {
                selectedColumns.push(name)
            }
            console.log(selectedColumns)
            let url = `{% url 'value_count' collection_id=collection_id %}?count={{ content|length }}&selected_columns=${selectedColumns.join(',')}`;
            document.location.href = url;
        });
    </script>
{% endblock %}
